.sunset_Overdrive{
    border-radius: 3px;
    height: 300px;
    width: 305px;
    margin-left: auto;
    margin-top: 5px;
}
.Ratchet_Clank{
    border-radius: 3px;
    height: 300px;
    width: 305px;
    margin-left: 20px;
    margin-top: 5px;
}
.Resistance_Game{
    border-radius: 3px;
    height: 300px;
    width: 305px;
    margin-left: 20px;
    margin-top: 5px;
}
.Spyro{
    border-radius: 3px;
    height: 300px;
    width: 305px;
    margin-left: 20px;
    margin-top: 5px;
}
.marvelSpiderman{
    border-radius: 3px;
    height: 300px;
    width: 305px;
    margin-left: auto;
    margin-top: 5px;
}
.milesMorales{
    border-radius: 3px;
    height: 300px;
    width: 305px;
    margin-left: 20px;
    margin-top: 5px;
}
.riftApart{
    border-radius: 3px;
    height: 300px;
    width: 305px;
    margin-left: 20px;
    margin-top: 5px;
}
.songOfTheDeep{
    border-radius: 3px;
    height: 300px;
    width: 305px;
    margin-left: 20px;
    margin-top: 5px;
}